.git
.gitignore
.github

frontend
gardenMarket-ios-app
docs
todo.md
README.md
Makefile

**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache

backend/media
backend/celerybeat-schedule
backend/.env
.env
.env.local
.env.*.local

**/node_modules
**/.DS_Store
**/.idea
**/.vscode
